@import url('../../composants/css/bouton.css');

:root{
    --ColorWhite: #ffffff;
}

.contenair{
    background-color: #000133;
}

img{
    height: 100%;
    width: auto;
}

h1{
    color: var(--ColorWhite);   
}

.description{
    color: var(--ColorWhite);  
    padding-right: 200px; 
    padding-left: 200px; 
    /* padding-top: 20px; */
    font-size: 20px;
}

a{
    color: var(--ColorWhite);
}

p{
    color: var(--ColorWhite);   
}

span{
    color: var(--ColorWhite);   

}

.images{
    width: 100vw;
}

.image{
    display: flex;
    justify-content: center;
    height: 110vh;
}

/* .contenairImage{
    margin-bottom: 30px;
    margin-top: 40px;
} */

.updateDelete
{
    margin-left: 20px;
    display: none;
}

.btnAnnuler{
    display: none;
}

/* lorsque la largeur de l'écran attein au maximum 1040px applique les fonctionnalités css à l'intérieur 
de la séction media ci dessous, les attribus des sélecteurs (class,id,balise) 
qui figure dans le media vont s'appliquer à la place des attribus en dehors du media:  */
@media (max-width: 1040px){ 
    .image
    {
        display: flex;
        justify-content: center;
        margin: 10px;
        height: auto;
    }

    img
    {
        width: 100%;
    }

    .description
    {
        width: auto;
        color: var(--ColorWhite);  
        padding-right: 20px; 
        padding-left: 20px; 
        padding-top: 2px;
    
    }

    .enHaut
    {
        height: 50px;
        width: auto;
        margin-right: 20px;
    }
    .enBas{
        height: 50px;
        width: auto;
        margin-right: 20px;
    }
    .delete{
        height: 50px;
        width: auto;
        margin-right: 20px;
    }
}