{% load static %}
   

<nav class="navbar">
      <a href="">MW</a>
      <ul class="mobile inactif"  id="menu">
            <li><a class="elementmenu" href="{% url 'pagemanga' %}">home</a></li>
            <li><a class="elementmenu" href="{% url 'account_login' %}">login</a></li>
            <li><a class="elementmenu" href="{% url 'account_logout' %}">logout</a></li>
            {% if request.user.username %}
              <li>
                <a class="elementmenu" href="{% url 'pageprofil' request.user.id %}" target="_self">{{ request.user.username }}
                </a>
              </li>
            {% endif %}
      </ul>


      <span id="humberger">
          <i class="fa-solid fa-bars" ></i>
      </span>
 </nav>