@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');
@import url('variable.css');
@import url('../../composants/css/bouton.css');

*, h1, h2 {
    margin: 0; /* la marge sur les quatre coté sont de 0 */
    padding: 0; /* les écarts de remplissage sur les quatres cotés sont de 0 */
    box-sizing: border-box; /* garder la taille de la fenêtre fixe defini par width */
    font-family: 'Roboto', sans-serif; /* style d'écriture sans serif */
}

/*devellopement par defaut pour ordinateur */

h1{
    /* font-family: 'Montserrat', sans-serif; */
    font-size: 30px;
    margin-bottom: 50px;
}

p{
    /* font-family: 'Montserrat', sans-serif; */
    font-size: 16px;
    margin-bottom: 10px;
}

ul{
    list-style: none;
    color: red;
    margin-bottom: 10px;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #0041a3;
    vertical-align: middle;
}

.contenair{
    background-color: rgb(255, 255, 255);
    /* border: solid 2px gray; */
    border-radius: 20px;
    height: var(--myHeigthContenair);
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    width: 30vw;
    
}

/*developpement par defaut pour mobile : */
@media (max-width: 1040px){
    .contenair{
        width: 70vw;
        /* display: flex;
        justify-content: center; */

    }
    p{
        font-size: 12px;
    }
}