{% extends 'base/base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'manga/css/manga.css' %}">
{% endblock %}


{% block content %}
      
          <div class="container">
              {% for manga in mangalistehtml %}
                  <a href="{% url 'manga:pagedetailmanga' manga.slug %}">  
                      <div class="manga">
                              <!-- <div class="triangle"></div> -->
                              <img src="{{ manga.image.url }}" alt="">
                              <div class="textemanga">
                                  <div class="titremanga">
                                      <h1>{{ manga.name }}</h1>
                                      <p>{{ manga.description|slice:":100" }}</p>
                                  </div>
                                  <div class="datemanga">
                                    <h3> {{ manga.user }} </h3> 
                                       {% comment %} <h3><a href="{% url 'pageprofil' manga.user.id %}"> {{ manga.user }} </a></h3>  {% endcomment %}
                                    <p> 04/03/2022 </p>
                                  </div>
                              </div>
                      </div>
                  </a>

              {% endfor %}
          </div>
{% endblock %}
