{% extends 'base/base.html' %}
{% block content %}
        <h1> {{ mangahtml.first.user }} </h1>


<div class="row mb-2">
{% for manga in mangahtml %}
    
      <div class="col-md-6">


        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-150 position-relative">
         
          <div class="col p-4 d-flex flex-column position-static">
            
            <h3 class="mb-0">{{ manga.name }}</h3>
            <div class="mb-1 text-muted">Nov 11</div>
            <p class="mb-auto">{{ manga.description|slice:":100" }}</p>
            <a href="{% url 'manga:pagedetailmanga'  manga.slug %}" target="_self" class="stretched-link">Continue reading</a>
            {% if request.user.username == manga.user.username %}
            <a href="{% url 'manga:editmanga'  manga.id %}" target="_self" class="bb-profileditmanga">editmanga</a>
            {% endif %}
          </div>

          <div class="col-auto d-none d-lg-block">
            <img class= "img-fluid max-width:100% height:auto" width="200" height="150" src="{{ manga.image.url }}" >
          </div>
        </div>
      </div>

{% endfor %} 
{% if request.user.username %}
<a href="{% url 'manga:addmanga' %}" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">add mangas</a> 
{% endif %}
  </div>
{% endblock %}