@import url('../../base/css/base.css');

/* :root{
    --mybackground: #25baff;
    --mycouleurtexte:#ffffff;
    --myheightMenu: 54px;
    --myheightFooter: 38px;
    --myheightContenair: calc(100vh-(var(--heightMenu)+var(--heightFooter)));
} */


.contenair{
    background: var(--mybackground);
    min-height: var(--heightContenair)
}

.contenair .presentation{
    padding-top: 50px;
    display: flex; /* les éléments à l'intérieur de container serons en mode -ms-flex-direction */
    flex-direction: column; /* les élément s'affiche a la suite en ligne*/
    justify-content: center; /* les éléments à l'intérieur de container place au centre */
}

img{
    width: 330px;  /* largeur à 150 pixel */
    height: auto;
    /* border: 2px solid rgb(148, 148, 148); */
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    margin-bottom: 20px;
}
h2{
    margin-bottom: 20px;
}
h3{
    margin-bottom: 20px;
}

.editchapitre{
    margin-bottom: 2px;
}

.ecriture {
    color: var(--mycouleurtexte); /* couleurpour les charactère */ 
    text-align: center;
    margin-top: 50px;
}

p{
    font-size: 1.2em; /* taille du texte 1em */
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
}

.chapitre{
    margin-bottom: 10px;
}

.chapitre a{
    text-decoration: none; /* cacher le souligner qui se mets automatiquement sur un liens */
    color: var(--couleurtexte); /* couleurpour les charactère */ 
}

img:hover{
    margin-bottom: 10px;
    /* width: 400px;  largeur à 150 pixel */
    /* transform: scale(1); /* agrendis de 1 l'image
    transition: height 0.3s ease-in-out 0s, transform 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s; animation */
    box-shadow: 5px 5px 10px 10px rgb(0, 0, 0); /*faire de l'ombre au manga lorsque la sourit passe dessus*/
    -webkit-transform:scale(1.25); /* Safari et Chrome */
}